<html>
    <head>
        <meta charset="UTF-8">
        <title>Заголовок приложения</title>
    </head>
    <body>
        <h1>Сервис преобразования изображения</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <button type="submit">Преобразовать</button>
        </form>

        {% if request.method == 'POST' %}
            {% if file %}
                <p>Original:</p>
                <img src="{{ url_for('static', filename=file.filename) }}" width="300">

                <p>Rotated:</p>
                <img src="{{ url_for('static', filename=file.filename) }}" style="transform: rotate(90deg); width: 300px;">
            {% endif %}
        {% endif %}
    </body>
</html>