<html>
    <head>
        <meta charset="UTF-8">
        <title>Заголовок приложения</title>
    </head>
    <body>
        <h1>Сервис преобразования изображения</h1>
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <button type="submit">Преобразовать</button>
        </form>

        {% if file %}
            {{file.filename}}
        {% endif %}

        {% if request.method == 'POST' %}
            {% if file %}
                <p>Исходное изображение:</p>
                <img src="{{ url_for('static', filename=file) }}" width=300>

                <p>Преобразованное изображение:</p>
                <img src="{{ url_for('static', filename='pred_' + file) }}" width=300>
            {% endif %}
        {% endif %}
    </body>
</html>