<html>
    <head>
        <meta charset="UTF-8">
        <title>Металлография</title>
    </head>
    <body>
        <h1>Металлография</h1>
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <button type="submit">Преобразовать</button>
        </form>

        {% if file %}
            {{file.filename}}
        {% endif %}

        {% if request.method == 'POST' %}
            {% if file %}
                <table border="0">
                    <tr>
                        <th>Исходное изображение:</th>
                        <th>Преобразованное изображение:</th>
                    </tr>
                    <tr>
                        <td><img src="{{ url_for('static', filename=file) }}" width=500></td>
                        <td><img src="{{ url_for('static', filename='pred_' + file) }}" width=500></td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    </body>
</html>